@page "/employee"

<div class="content-container">
    <div class="container-fluid flex-container">
        <div class="row flex-row-20">
            <!-- Content for the first row (20%) -->
            <div class="col">
                <EmployeeDataInput />
            </div>
        </div>
        <div class="row flex-row-80 mt-5">
            <!-- Content for the second row (80%) -->
            <div class="col">
                <!-- Add your content here -->
                <p>Content for the 80% row...</p>
            </div>
        </div>
    </div>
</div>