
<div class="container">
    <div class="header">
        <span style="font-size:104px; color:@AlertColor">@(new MarkupString(AlertIcon))</span>
    </div>
    <div class="content">
        @Message
    </div>
    <div class="action">
        <button type="button" class="confirm-btn" @onclick="OnClose">CLOSE</button>
    </div>
</div>
