<div class="led-container" style="align-items:@Alignment">
    <div class="led @Activate" style="height:@(Height ?? "36px"); width:@(Width ?? "36px")"> </div>
    <div class="led-label"> @Label </div>
</div>