#page-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "header" "content" "footer";
    /*background-color: var(--application-background-color);*/
    user-select: none;
    background: #222D32;
}

.grid-item-header {
    grid-area: header;
    display: flex;
    flex-direction: row; /*row-reverse*/
    height: 60px;
    background: lightgrey;
}

.grid-item-content {
    grid-area: content;
    overflow: hidden;
    margin: 20px;
    height: 100%;
}

.grid-item-footer {
    grid-area: footer;
    display: flex;
    height: 60px;
    background: lightgrey;
}
