@page "/mainpage"

<PageTitle>Caribbean Charters - Home</PageTitle>


@*

<div id="base-layout">
<Login />
</div>

*@

<div id="base-layout">

    <div class="grid-item-header">
        Header
    </div>

    <div class="grid-item-content">
        Content
    </div>

    <div class="grid-item-footer">
        Footer
    </div>

</div>