@page "/welcome"

<PageTitle>C.S.Charters - Welcome</PageTitle>


<div class="image-container">
    <div class="background-image-container">
        <div class="welcome">Welcome...</div>
    </div>
</div>